# OS
.DS_Store

# IDE
.vscode/
*.csproj
*.sln

# Unity generated
Library/
Logs/
Temp/
Obj/
Build/
Builds/
UserSettings/
MemoryCaptures/
mono_crash.*.json

# Asset Store
*.unitypackage

# Crash/Download folders
downlaods/